<h2 mat-dialog-title>Éditer un évènement</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ eventToEdit.localisation }}</h3>

  <p><b>Impact</b> : {{ eventToEdit.impact }}</p>

  <p><b>Du </b> {{ eventToEdit.dateDebut }} <b> au </b> {{ eventToEdit.dateFin }}</p>

  <p><b>Informations supplémentaires</b> : {{ eventToEdit.info }}</p>

  <p><b>Source</b> : {{ eventToEdit.source }} | <b>Type</b> : {{ eventToEdit.type }}</p>

  <p><b>Message à afficher</b></p> 
  
  <textarea class="large-input" [(ngModel)]="eventToEdit.message" rows="10" cols="100"></textarea>
  
  <br/>

  <h4>Pièces jointes</h4>

  <b>Fichier joint : </b><input  id="editEventFileInput" class="file-input" type="file" (change)="handleImage()">   <br/>
  <span *ngIf="eventToEdit.attachedFile != '' && eventToEdit.attachedFile != undefined">
    Un fichier existe déjà, il est disponible <a href="{{backUrl}}pictures/{{eventToEdit.attachedFile}}">ici</a>. En uploader un nouveau l'effacera.
  </span><br/>

  <b>Liens annexes</b>
  <ul>
    <li *ngFor="let link of links">
      <b>Nom : </b>
      <input *ngIf="link.new == true" [(ngModel)]="link.name"/>
      <input *ngIf="link.new == false" [(ngModel)]="link.name" disabled/>
      <b> Lien : </b>
      <span *ngIf="link.new == true" >http://<input [(ngModel)]="link.link"/></span>
      <span *ngIf="link.new == false"><input [(ngModel)]="link.link" disabled/></span>
      <button *ngIf="link.new == false" class="mat-dialog-button" (click)="handleLinkDelete(link._id)" mat-button>Supprimer</button>
    </li>
  </ul>
  <span *ngIf="links.length == 0">
    Aucun lien n'a été joint
  </span>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-dialog-button" mat-button mat-dialog-close>Annuler</button>
  <button (click)="submit()" class="mat-dialog-button" mat-button [mat-dialog-close]="true" cdkFocusInitial>Sauvegarder</button>
</mat-dialog-actions>
