<h2>Évènements à venir</h2>

<a class="button fancy-button publishButton" (click)="addEvent()"><mat-icon>add</mat-icon> Nouveau</a>

<table>
    <thead>
        <td>Lieu</td>
        <td>Impact</td>
        <td>Début</td>
        <td>Fin</td>
        <td>Source</td>
        <td>Type</td>
        <td>Editer</td>
        <td>Créer message</td>
    </thead>
    <tr *ngFor="let event of events">
        <td>{{ event["localisation"] }}</td>
        <td>{{ event["impact"] }}</td>
        <td>{{ applyDateChanges(event["dateDebut"]) }}</td>
        <td>{{ applyDateChanges(event["dateFin"]) }}</td>
        <td>{{ event["source"] }}</td>
        <td>{{ event["type"] }}</td>
        <td><a class="button fancy-button publishButton" (click)="edit(event['_id'])"><mat-icon>edit</mat-icon></a></td>
        <td><a class="button fancy-button publishButton" (click)="addMessage(event['_id'])"><mat-icon>mail</mat-icon></a></td>
    </tr>
</table>