<table id="messagesTable">
    <thead>
        <tr>
            <td>Titre</td>
            <td>Début</td>
            <td>Fin</td>
            <td>Type</td>
            <td>Publié</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let message of messages">
            <td><a [routerLink]="['message-edit']">{{ message["title"] }}</a></td>
            <td>{{ message["dateDebut"] }}</td>
            <td>{{ message["dateFin"] }}</td>
            <td>{{ message["type"] }}</td>
            <td>{{ message["published"] }}</td>
        </tr>
    </tbody>
</table>