#login-credits {
    border : 1px solid black;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
    text-align: center;
    padding-top : 3%;
    padding-bottom : 3%;
    background-color: azure;
    border-radius: 20px 20px 20px;
}

div button{
    background-color: cadetblue;
}

.alert{
    background-color: tomato;
    color: white;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
}