<table>
    <thead>
        <td>Lieu</td>
        <td>Impact</td>
        <td>Début</td>
        <td>Fin</td>
        <td>Source</td>
        <td>Type</td>
    </thead>
    <tr *ngFor="let message of messages">
        <td><a [routerLink]="['details', message._id]">{{ message["title"] }}</a></td>
        <td>{{ beautifulDate(message["dateDebut"]) }}</td>
        <td>{{ beautifulDate(message["dateFin"]) }}</td>
        <td>{{ message["type"] }}</td>
    </tr>
</table>

<router-outlet></router-outlet>