<table>
    <thead>
        <td>Lieu</td>
        <td>Impact</td>
        <td>Début</td>
        <td>Fin</td>
        <td>Source</td>
        <td>Type</td>
    </thead>
    <tr *ngFor="let event of events">
        <td><a [routerLink]="['details', event._id]">{{ event["localisation"] }}</a></td>
        <td>{{ event["impact"] }}</td>
        <td>{{ beautifulDate(event["dateDebut"]) }}</td>
        <td>{{ beautifulDate(event["dateFin"]) }}</td>
        <td>{{ event["source"] }}</td>
        <td>{{ event["type"] }}</td>
    </tr>
</table>

<router-outlet></router-outlet>