<h1>Édition d'un message</h1>

<div id="warnings" *ngIf="errorMessage != '' && errorMessage != undefined">
  <div id="warning-logo">
    <img src="{{ backUrl }}pictures/warning.webp"/>
  </div>
  <div id="warning-message">
    <h3>Au moins une erreur est présente dans ce formulaire</h3>
    <span id="warningMessage">{{ errorMessage }}</span>
  </div>
</div>

<div id="messageEditionFields">

  <div class="headerFields" *ngIf="event != undefined">
    <h2>Évènement lié</h2>
    <div class="headerFieldLeft">
      <p><b>Lieu</b> : {{event.localisation}}</p>
      <p><b>Période : </b> du {{event.dateDebut}} au {{event.dateFin}}</p>
    </div>
    <div class="headerFieldRight">
      <p><b>Détails</b> : {{event.impact}}</p>
    </div>
  </div>

  <div class="headerFields">
    <h2>Informations générales</h2>

    <div class="headerFieldLeft">
      <p><b>Titre<span class="mandatory-field">*</span></b> : <input [(ngModel)]="title"/></p>
      <p><b>Période de publication du message : </b> du<span class="mandatory-field">*</span> <input type="date" [(ngModel)]="dateDebut"/> au<span class="mandatory-field">*</span> <input type="date" [(ngModel)]="dateFin"/></p>
    </div>
    <div class="headerFieldRight">
      <p><b>Type</b> : <input [(ngModel)]="type" placeholder="Annonce"/></p>
      <p><b>Publier tout de suite ? :</b> <input type="checkbox" [(ngModel)]="published"/></p>
    </div>
  </div>

  <div id="messageContent">
    <h2>Contenu du message<span class="mandatory-field">*</span></h2>
    <editor [(ngModel)]="content"
    [init]="{
      height: 500,
      menubar: true,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar:
        'undo redo | formatselect | bold italic backcolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | removeformat | help'
    }"
    ></editor>
  </div>

  <div id="disclaimers">
    <p>Les champs marqués d'une <span class="mandatory-field">*</span> sont obligatoires</p>
  </div>

  <div id="validate">
    <a class="button fancy-button publishButton" id="messageAdd" (click)="addMessage()"><mat-icon>add</mat-icon>Créer message</a>
  </div>


</div>