<h1>Modifier un message</h1>
<editor
apiKey="67s7a0sxmytc9u2xbd2dxkwxoua2vfqjuyedl2c4afyhmsv1"
[init]="{
     height: 500,
     menubar: true,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"
 ></editor>
