<div class="description_container" *ngIf="events == undefined">
    <span>Chargement en cours...</span>
</div>

<div class="description_container" *ngIf="events != undefined">
    <h1 id="description_title">{{ events[currentEventIndex].localisation }} : {{events[currentEventIndex].impact}}</h1>

    <div class="article_body">
        <span id="date_label">Du {{ events[currentEventIndex].dateDebut }} au {{ events[currentEventIndex].dateFin }}</span>

        <article id="image_container" *ngIf="events[currentEventIndex].attachedFile != '' && events[currentEventIndex].attachedFile != undefined">
            <img class="article_img" src="{{backUrl}}pictures/{{events[currentEventIndex].attachedFile}}"/>
        </article>

        <article id="text_container">
            <p id="description_text" *ngFor="let para of formattedMessage">{{ para }}</p>
        </article>
    </div>
</div>