.description_container{
    max-width: 700px;

    margin-left: 2rem;
    margin-right: 2rem;
}

#description_title {
    text-align: center;
}

#image_container{
    margin: 2rem 0rem;
    float: left;
    max-height: 300px;
    overflow: hidden;
}

.article_img{
    width: 100%;
    overflow: hidden;
}

#description_text{
    display: block;
    text-align: justify;
}

#date_label {
    width: 100%;
    text-align: center;
    display: block;
    font-style: italic;
  }

  event-details {
      margin-top:10%;
  }