#messagesTable{
    width: 100%;
}

#messagesTable thead{
    font-weight: bold;
}

#messagesTable tbody tr:hover{
    background-color: lightgray;
}

#messageAddContainer{
    margin-top: 2%;
    margin-bottom: 1%;
}